include README.md
include config.py
include LICENSE
include pagapp.ini
include pagapp.py
include requirements.txt
recursive-include migrations *.py *.ini *.mako
recursive-include static *.css *.woff *.gif *.js
recursive-include templates *.html
recursive-include pagapp *.html
