{% extends "blueimp_base_t.html" %}

{% block navbar %}
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Welcome to PyArtistsGallery</a>
        </div>
    </div>
</div>
{% endblock navbar %}

{% block mainpage %}
{% include 'flash.html' %}
<div class="container">
    <h1>First run of application</h1>

    <p>
        You should enter few parameters, before you can start to using PyArtistsGallery.
    </p>

    <div class="col-sm-8">
        <form class="form" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.gallery_title.label(class_="control-label") }}
                {{ form.gallery_title(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.username.label(class_="control-label") }}
                {{ form.username(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password.label(class_="control-label") }}
                {{ form.password(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password2.label(class_="control-label") }}
                {{ form.password2(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit_button(class_="btn btn-primary") }}
            </div>
        </form>
    </div>
    <div class="col-sm-4-offset"></div>
</div>

{{ super() }}
{% endblock mainpage %}
