{% include 'flashed_messages.html' %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Move picture from album "{{ selalbum }}" to another album</h3>
    </div>
    <div class="panel-body">
        <form class="form" method="POST">
            {{ editpics_form.hidden_tag() }}
            <div class="row">
                <div class="container col-xs-12 col-sm-9">
                    <div class="form-group">
                        <label class="sr-only" for="pagSelPic">Select picture name</label>
                        {{ editpics_form.pic_select(**{'class': 'form-control', 'id': 'pagSelPic'}) }}
                    </div>
                </div>
                <div class="container col-xs-12 col-sm-3">
                    <!-- picture -->
                </div>
            </div>
            <div class="row">
                <div class="container col-xs-12 col-sm-9">
                    <!-- picture desc -->
                </div>
                <div class="container col-xs-12 col-sm-3">
                    <button type="submit" class="btn btn-default" name="btn" value="Save">Save new name</button>
                </div>
            </div>
        </form>
    </div>
</div>