{% extends "bootstrap_base_t.html" %}

{% block navbar %}
<form class="form" method="POST">
{{ form.hidden_tag() }}

<div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/index">{{ title }}/Change password</a>
        </div>
        <button type="submit" class="btn btn-success navbar-btn navbar-right">Change password</button>
    </div>
</div>
{% endblock navbar %}

{% block mainpage %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <table style="width:100%">
            {% for message in messages %}
                <tr><td>
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button data-dismiss="alert" type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
                </td></tr>
            {% endfor %}
        </table>
    {% endif %}
{% endwith %}

<div class="row">
    <div class="container col-sm-8 col-xs-12 col-sm-offset-2">
        <div class="jumbotron">
            <div class="form-group">
                <label class="sr-only" for="pagOldPassword">Old password</label>
                {{ form.old_password(**{'class': 'form-control', 'id': 'pagOldPassword',
                'placeholder': 'Enter your current password'}) }}
            </div>
            <div class="form-group">
                <label class="sr-only" for="pagNewPassword">New password</label>
                {{ form.new_password(**{'class': 'form-control', 'id': 'pagNewPassword', 'placeholder':
                'Enter your new password'}) }}
            </div>
            <div class="form-group">
                <label class="sr-only" for="pagNewPassword2">Retype new password</label>
                {{ form.new_password2(**{'class': 'form-control', 'id': 'pagNewPassword2', 'placeholder':
                'Retype your password'}) }}
            </div>
        </div>
    </div>
</div>

</form>
{% endblock mainpage %}
